# 文章目录

[SQLite](#1)

[MySQL](#2)

[SQLAlchrmy](#3)

# SQLite
<a id='1'></a>

SQLite是一种嵌入式数据库，它的数据库就是一个文件。由于SQLite本身是C写的，而且体积很小，所以经常被集成到各种应用程序中，甚至再IOS和Android的App中都可以集成。

Python就内置了SQLite3，所以，再Python中使用SQLite，不需要安装任何东西，直接使用。

使用SQLite前，需要搞清楚几个概念：
- 表是数据库中存放关系数据的集合，一个数据库中通常包含多个表，比如学生的表，班级的表等等，表和表之间通过外键关联。
- 要操作关系数据库，首先需要连接到数据库，一个数据库连接成为Connection
- 连接到数据库后，需要打开游标，称之为Cursor，通过Cursor执行SQL语句，然后获得执行结果
- Python定义了一套操作数据库的API接口，任何数据库要连接到Python，只需要提供符合Python标准的数据库驱动即可
- 由于SQLite的驱动内置再Python标准库中，所以我们可以直接来操作SQLite数据库

In [2]:
#导入SQLite驱动：
import sqlite3
#连接到SQLite数据库
#数据库文件是test.db
#如果文件不存在，会自动再当前目录创建：
conn = sqlite3.connect('test.db')
#创建一个Cursor：
cursor = conn.cursor()
#执行一条SQL语句，创建user表：
cursor.execute('create table user (id varchar(20) primary key, name varchar(20))')

In [5]:
#继续执行一条SQL语句，插入一条记录：
cursor.execute('insert into user (id, name) values (\'1\', \'Michael\')')

In [6]:
#通过rowcount获得插入的行数：
cursor.rowcount

1

In [7]:
#关闭Cursor
cursor.close()
#提交事务：
conn.commit()

#关闭Connection
conn.close()

查询记录

In [8]:
conn = sqlite3.connect('test.db')
cursor = conn.cursor()
#执行查询语句：
cursor.execute('select * from user where id=?', ('1',))

In [9]:
#获得查询结果集：
values = cursor.fetchall()
values

[(u'1', u'Michael')]

In [10]:
cursor.close()
conn.close()

使用Python的DB-API时，只要搞清楚Connection和Cursor对象，打开后一定记得关闭，就可以放心地使用。

使用Cursor对象执行insert，update，delete语句时，执行结果由rowcount返回影响的行数，就可以拿到执行结果。

使用Cursor对象执行select语句时，通过featchall()可以拿到结果集。结果集是一个list，每个元素都是一个tuple，对应一行记录。

如果SQL语句带有参数，那么需要把参数按照位置传递给execute()方法，有几个?占位符就必须对应几个参数

<a id='2'></a>
# MySQL

In [11]:
#导入MySQL驱动
import mysql.connector

In [12]:
conn = mysql.connector.connect(user='root', password='password',\
                               database='test',use_unicode=True)

In [13]:
cursor = conn.cursor()
#创建user表：
cursor.execute('create table user(id varchar(20) primary key, name varchar(20))')

In [14]:
#插入一行记录，注意MySQL的占位符是s%
cursor.execute('insert into user (id,name) values (%s, %s)',['1','Michael'])

In [15]:
cursor.rowcount

1

In [16]:
conn.commit()
cursor.close()

True

In [17]:
#查询
cursor = conn.cursor()
cursor.execute('select * from user where id = %s', ('1',))

In [18]:
values = cursor.fetchall()
values

[(u'1', u'Michael')]

In [19]:
 #关闭Cursor和Connection:
cursor.close()

conn.close()

<a id='3'></a>
# SQLAlchemy

数据库表是一个二维表，包含多行多列。把一个表的内容用Python的数据结构表示出来的话，可以用一个list表示多行，list的每一个元素是tuple，表示一行记录，比如，包含id和name的user表

[
    ('1', 'Michael'),
    ('2', 'Bob'),
    ('3', 'Adam')
]

但是用tple表示一行很难看出表的结构，如果把一个tuple用class实例来表示，就可以更容易看出表的结构来：

In [20]:
class User(object):
    def __init__(self, id, name):
        self.id = id
        self.name = name
[
    User('1','Michael'),
    User('2', 'Bob'),
    User('3', 'Adam')
]

[<__main__.User at 0x614e4e0>,
 <__main__.User at 0x614e438>,
 <__main__.User at 0x614e518>]

这就是传说中的ORM技术：Objecet-Relational Mapping，把关系数据库的表结构映射到对象上

在Python中，最有名的ORM框架是SQLAlchemy。我们来看看SQLAlchemy的用法。

然后，利用上次我们在MySQL的test数据库中创建的user表，用SQLAlchemy来试试

In [21]:
#导入
from sqlalchemy import Column,String,create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

#创建对象的基类
Base = declarative_base()

#定义User对象：
class User(Base):
    #表的名字：
    __tablename__ = 'user'
    
    #表的结构：
    id = Column(String(20), primary_key=True)
    name = Column(String(20))
    
#初始化数据库连接：'数据库类型+数据库驱动名称://用户名:口令@机器地址:端口号/数据库名'
engine = create_engine('mysql+mysqlconnector://root:password@localhost:3306/test')
# 创建DBSession类型:
DBSession = sessionmaker(bind=engine)

以上代码完成SQLAlchemy的初始化和具体每个表的class定义。如果有多个表，就继续定义其他class，例如School：
class School(Base):
    __tablename__ = 'school'
    id = ...
    name = ...
    
由于有了ORM，我们向数据库表中添加一行记录，可以视为添加一个User对象：

In [22]:
#创建session对象：
session = DBSession()
#创建新User对象：
new_user = User(id='5', name='Bob')
#添加到session：
session.add(new_user)
#提交即保存到数据库
session.commit()
#关闭session
session.close()

如何从数据库表中查询数据呢？有了ORM，查询出来的可以不再是tuple，而是User对象。SQLAlchemy提供的查询接口如下：

In [23]:
#创建Session
session = DBSession()
#创建Query查询，filter石where条件，最后调用one()返回唯一行，
#如果调用all()则返回所有行
user = session.query(User).filter(User.id=='5').one()
#打印类型对象的name属性：
print 'type:', type(user)
print 'name:', user.name

type: <class '__main__.User'>
name: Bob

In [24]:
#关闭session
session.close()

可见，ORM就是把数据库表的行与相应的对象建立关联，互相转换。

由于关系数据库的多个表还可以用外键实现一对多、多对多等关联，相应地，ORM框架也可以提供两个对象之间的一对多、多对多等功能。

例如，如果一个User拥有多个Book，就可以定义一对多关系如下：

In [29]:
from sqlalchemy.schema import ForeignKey
from sqlalchemy.orm import relationship
class User(Base):
    __tablename__ = 'User'
    
    id = Column(String(20), primary_key=True)
    name = Column(String(20))
    
    #一对多：
    books = relationship('Book')
    
class Book(Base):
    __tablename__ = 'book'
    
    id = Column(String(20), primary_key=True)
    name = Column(String(20))
    
    # “多”的一方的book表是通过外键关联到user表的:
    
    user_id = Column(String(20), ForeignKey('user.id'))

C:\Users\haier-003\Anaconda2\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.User, and will be replaced in the string-lookup table.
  item.__name__